body {
    background-color: lightblue;
    border-width: 5px; /* Border thickness */
    border-style: solid; /* Border style */
    border-color: rgb(128, 207, 246); /* Border color */   
  }
  